.fullCard {
    background-color: rgb(255, 255, 255, .8);
    width: 500px;
    margin: 15px;
    height: 600px;
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.img_yourList {
    height: 135px;
    border-radius: 1200px;
}

.divReturning_yourList {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
}

.header_yourList {
    display: flex;
    /* border: solid black .5px; */
    margin: 5px;
}

.name_status {
    /* border: solid black .5px; */
    text-align: left;
    padding-left: 11px;
}

.status {
    background: none;
    color: red;
}

.bulletsPoints_yourList {
    border: solid black .5px;
    padding: 5px;
    display: flex;
    height: 150px;
}

.firstThree {
    border: solid black .5px;
    padding: 5px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: left;
    justify-content: space-around;
}

.secondThree {
    border: solid black .5px;
    padding: 5px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: left;
    justify-content: space-around;
}

.height {
    font-size: 17px;
    background: none;
    font-weight: 600;
}

.weight {
    font-size: 17px;
    background: none;
    font-weight: 600;
}

.length {
    font-size: 17px;
    background: none;
    font-weight: 600;
}

.population {
    font-size: 17px;
    background: none;
    font-weight: 600;
}

.habitat {
    font-size: 17px;
    background: none;
    font-weight: 600;
}

.diet {
    font-size: 17px;
    background: none;
    font-weight: 600;
}
