.divReturning_yourList {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    background: none;
}

.fullCard {
    background-color: rgb(255, 255, 255, .6);
    border: solid black;
    width: 45%;
    height: 600px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
}

.header_yourList {
    border: solid;
    padding: 10px;
    display: flex;
    width: 95%
}

.img_yourList {
    height: 150px;
    border-radius: 50%;
}

.name_status {
    border: solid green;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.status {
    background: none;
    color: red;
}

.bulletsPoints_yourList {
    border: solid;
    width: 95%;
    height: 120px;
    margin: 5px;
    padding: 5px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: space-around;
}

.bp_span {
    display: flex;
    font-size: 18px;
    width: 50%;
    border: solid black .5px;
    text-align: left;
}

.info_div {
    border: solid;
}

.info_pContainer {
    border: solid green;
}

.all_btns {
    border: solid
}